
<script src="JS/index.js"></script>
</body>
<footer id="footerbase">
    <p>This website is for API test only.</p> &emsp;  <p> Autor : Line00 <img src="img/registrada.png" alt="register" id="footimg"></p>
</footer>
</html>