*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#mainbox{
display: grid;
grid-template-areas: 
 'header header header'
 'rigthside main leftside'
 'footer footer footer';
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 50px 2fr auto;
height: 100vh;
border: 1px solid red;
}


#header {
    grid-area: header;
  
   
}

#leftside {
    grid-area: leftside;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#button{
    width: 200px;
    height: 50px;
    background-color:  rgb(209, 127, 127) ;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    background-color:  rgba(197, 39, 39, 0.589) ;
    box-shadow: 4px 4px 4px rgb(128, 148, 38);
    color: black;
   
    
}

#button:hover{
    border: 1px solid rgb(199, 199, 21);
    box-shadow: 4px 4px 4px rgb(179, 64, 64);
    color:white;
}

#rigthside {
    grid-area: rigthside;
    border-right: 1px solid rgba(192, 59, 59, 0.521);
    overflow: hidden;
    
}

#main {
    grid-area: main;
    overflow: hidden;
}

#footer {
    grid-area: footer;
}




body{
    background-color: black;
}

#title{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(209, 127, 127);
    border-bottom: 2px solid rgba(192, 59, 59, 0.521);
    padding-bottom: 40px;
    
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  

}

#name{
    text-align: center;
    color: rgb(190, 133, 133);
    text-shadow: 2px 2px 2px rgb(11, 25, 228);
    font-size: 2.5rem;
    padding: 40px;

}

#box{
   
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#parrafo{
    text-align: center;
    font-size: 1.5rem;
}

/* #text{
    text-align: center;
    color: rgb(233, 7, 7);
}
 */
#footerbase{
    text-align: center;
    color:white;
}

.li{
    margin-top: 20px;
}







@media(max-width :600px){ /* -- xs sm  */

    #mainbox{
        display: grid;
        grid-template-areas: 
         'rigthside'
         ' main'
         'leftside'
         'footer';
        grid-template-columns:  1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
        
        }

        #button{
            width: 100%;
            height: auto;
            font-size: 0.5;
        }

        #title{
            text-align: center;
            font-size: 1.5rem;
            color: rgb(209, 127, 127);
            border-bottom: 1px dotted rgba(192, 59, 59, 0.521);
            padding-bottom: 4px;
        }
        
        #name{
            text-align: center;
            color: rgb(190, 133, 133);
            text-shadow: 2px 2px 2px rgb(11, 25, 228);
            font-size: 1rem;
            padding: 4px;
        }

        #info{
            color: white;
            text-align: center;
            font-size: 1rem;
            padding: 4px;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #parrafo{
            text-align: center;
            font-size: 1rem;
        }
        
    
}

@media(max-width:768px){/* -- md  */

    #mainbox{
        display: grid;
        grid-template-areas: 
         'rigthside main'
         'leftside leftside'
         'footer footer';
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto auto  auto ;
        height: auto;
        
        }

        #button{
            width: 100px;
            height: 25px;
            font-size: 0.5;
        }

        #title{
            text-align: center;
            font-size: 1rem;
            color: rgb(209, 127, 127);
            border-bottom: 1px dotted rgba(192, 59, 59, 0.521);
            padding-bottom: 4px;
        }
        
        #name{
            text-align: center;
            color: rgb(190, 133, 133);
            text-shadow: 2px 2px 2px rgb(11, 25, 228);
            font-size: 1rem;
            padding: 4px;
        }

        #info{
            color: white;
            text-align: center;
            font-size: 1rem;
            padding: 4px;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #parrafo{
            text-align: center;
            font-size: 1rem;
        }


}

@media(max-width:992px){/* -- lg */

    #mainbox{
        display: grid;
        grid-template-areas: 
         'rigthside main leftside'
         'footer footer footer';
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: auto auto ;
        height: auto;
        
        }

        #button{
            width: 200px;
            height: 50px;
            font-size: 0.5;
        }

        #title{
            text-align: center;
            font-size: 1rem;
            color: rgb(209, 127, 127);
            border-bottom: 1px dotted rgba(192, 59, 59, 0.521);
            padding-bottom: 4px;
        }
        
        #name{
            text-align: center;
            color: rgb(190, 133, 133);
            text-shadow: 2px 2px 2px rgb(11, 25, 228);
            font-size: 1rem;
            padding: 4px;
        }

        #info{
            color: white;
            text-align: center;
            font-size: 1rem;
            padding: 4px;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #parrafo{
            text-align: center;
            font-size: 1rem;
        }




} 